body{
margin:0;
padding:0;
font-family:Arial, sans-serif;
background:linear-gradient(135deg,#001f3f,#000814,#003566);
color:white;
}

.navbar{
padding:20px;
text-align:center;
background:rgba(255,255,255,0.08);
}

.hero{
text-align:center;
margin-top:150px;
}

.hero h1{
font-size:48px;
}

.hero p{
font-size:20px;
margin-bottom:30px;
}

.buttons a{
display:inline-block;
padding:15px 30px;
margin:10px;
background:#00b4d8;
color:white;
text-decoration:none;
border-radius:10px;
transition:0.3s;
}

.buttons a:hover{
background:#0077b6;
}

.card{
width:420px;
margin:80px auto;
padding:30px;
background:rgba(255,255,255,0.08);
border-radius:20px;
text-align:center;
}

input{
width:90%;
padding:12px;
margin:10px;
border:none;
border-radius:8px;
}

button{
padding:12px 25px;
margin:10px;
border:none;
background:#00b4d8;
color:white;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#0077b6;
}

ul{
list-style:none;
padding:0;
}

li{
padding:10px;
margin:8px;
background:rgba(255,255,255,0.1);
border-radius:8px;
}