<!DOCTYPE html>
<html>
<head>
    <title>Sector Select</title>
</head>

<body style="text-align:center; font-family:Arial; background:#f3f6ff;">

<div style="margin-top:100px;">

    <h2> Select Your Sector</h2>

    <form method="POST">
        {% csrf_token %}

        <select name="sector" style="padding:10px; width:200px;">
            <option value="Bank">Bank</option>
            <option value="Library">Library</option>
            <option value="Office">Office</option>
            <option value="Canteen">Canteen</option>
        </select>

        <br><br>

        <button type="submit" style="padding:10px 20px; background:blue; color:white; border:none;">
            Get Token
        </button>

    </form>

</div>

</body>
</html>