{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Guardian Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<div class="container">

    <h2> Smart Queue</h2>

    <div class="card">
        <p><b>Phone:</b> {{ phone }}</p>
        <p><b>Sector:</b> {{ sector }}</p>
    </div>

    <div class="card">
        <p>Token</p>
        <div class="token">{{ token }}</div>
    </div>

    <div class="card">
        <p><b>Position:</b> {{ position }}</p>
        <p><b> Estimated Time:</b> {{ estimated_time }} min</p>
    </div>

    <div class="card">

    <h3>Previous History</h3>

    {% for item in history %}

        <p><b>Token:</b> {{ item.token_number }}</p>

        <p><b>Sector:</b> {{ item.sector }}</p>

        <p><b>Waiting Time:</b> {{ item.waiting_time }} min</p>

        <hr>

    {% empty %}

        <p>No History Found</p>

    {% endfor %}

</div>
<div class="card">

    <a href="{% url 'cancel_token' %}">
        <button type="button">Cancel Token</button>
    </a>

    </div>

    <a href="/logout/">Logout</a>

</div>

</body>
</html>

