{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Guardian Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<div class="container">

    <h2> Smart Queue</h2>

    <div class="card">
        <p><b>Phone:</b> {{ phone }}</p>
        <p><b>Sector:</b> {{ sector }}</p>
    </div>

    <div class="card">
        <p>Token</p>
        <div class="token">{{ token }}</div>
    </div>

    <div class="card">
        <p><b>Position:</b> {{ position }}</p>
        <p><b> Estimated Time:</b> {{ estimated_time }} min</p>
    </div>

    <a href="/logout/">Logout</a>

</div>

</body>
</html>

