<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Smart Queue Management System</title>
{% load static %}
<link rel="stylesheet" href="{% static 'new_style.css' %}">
</head>
<body>

<div class="navbar">
    <h2>Smart Queue</h2>
</div>

<div class="hero">
    <h1>Smart Queue Management System</h1>
    <p>Digital token based queue system</p>

    <div class="buttons">
        <a href="{% url 'student_login' %}">Student Login</a>
        <a href="{% url 'guardian_login' %}">Guardian Login</a>
        <a href="{% url 'take_token' %}">Take Token</a>
        <a href="{% url 'queue_status' %}">Queue Status</a>
        <a href="{% url 'admin_panel' %}">Admin Panel</a>
        <a href="{%url 'feedback' %}">Feedback</a>
    </div>
</div>

</body>
</html>