<!DOCTYPE html>
<html>
<head>
    <title>Select Sector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h2>Select Sector</h2>

    <form method="POST">
        {% csrf_token %}

        <select name="sector" required>

            <option value="Bank">Bank</option>
            <option value="Library">Library</option>
            <option value="UAP Office">UAP Office</option>
            <option value="Canteen">Canteen</option>

        </select>

        <button type="submit">Generate Token</button>

    </form>

</div>

</body>
</html>