<!DOCTYPE html>
<html>
<head>
    <title>Select Sector</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

    <h2> Select Sector</h2>

    <form method="POST">
        {% csrf_token %}

        <select name="sector">
            <option>Bank</option>
            <option>Library</option>
            <option>UAP Office</option>
            <option>Canteen</option>
        </select>

        <button type="submit">Generate Token </button>
    </form>

</div>

</body>
</html>