{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

<div class="container">

    <h2>Smart Queue</h2>

    <div class="card">
        <p><b>ID:</b> {{ student_id }}</p>
        <p><b>Sector:</b> {{ sector }}</p>
    </div>

    <div class="card">
        <p> Your Token</p>
        <div class="token">{{ token }}</div>
    </div>

<div class="card">

    <a href="{% url 'cancel_token' %}">
        <button class="cancel-btn">Cancel Token</button>
    </a>

    </div>
    <div class="card">
        <p><b>Position:</b> {{ position }}</p>
        <p><b>Estimated Time:</b> {{ estimated_time }} min</p>
    </div>

    <a href="/logout/"> Logout</a> <br> <hr>
    <a href="{% url 'inbox' %}">View Notifications</a>

</div>

</body>
</html>